<form action="#" id="passForm">
  <input type="password" placeholder="Podaj hasło by odblokować" class="form-control" id="password" autofocus/>
  <div class="invalid-feedback" id="invalid-pass" style="display: none;">To nie to hasło cwaniaku</div>
</form>
<form action='vote' method='post' style="display: none;" id="mainForm">
  <input type="hidden" name="security-code" id="security-code" />
  <% for (const choiceGroup in choices) { %>
    <h2><%= choices[choiceGroup].name %></h2>
    <ul>
      <% for (const choice in choices[choiceGroup].members) { %>
      <li>
        <input class="btn-check" type='radio' autocomplete="off" name='vote-<%= choiceGroup %>' value='<%= choice %>' id='vote-<%= choice %>' required />
        <label class='btn btn-outline-secondary' for='vote-<%= choice %>'>
          <%= choices[choiceGroup].members[choice] %>
        </label>
      </li>
      <% } %>
    </ul>
  <% } %>
  <button type='submit' class='btn btn-warning'>Oddaj głos!</button>
</form>

<script>
  document.getElementById('passForm').addEventListener('submit', (event) => {
    const pass = document.forms["passForm"]["password"].value;
    fetch("/verifycode", {
      method: 'POST',
      headers: {pass: pass}
    }).then((res) => {
      if(res.status == 200) {
        document.getElementById('passForm').style.display = 'none';
        document.getElementById('mainForm').style.display = '';
        document.forms["passForm"]["password"].value = "";
        document.forms["mainForm"]["security-code"].value = pass;
      } else {
        document.getElementById("invalid-pass").style.display = '';
        
        document.forms["passForm"]["password"].classList.add('is-invalid');
      }
    })

    event.preventDefault()
    return false;
  })
</script>